.agregar-tarea {
    display: flex;
    width: 450px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(161, 161, 161);
    gap: 20px;
}