.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  height: 100vh;
  text-align: center;
  align-items: center;
  background-color: rgb(165, 93, 233);
}

.bi-info-circle{
  color: black;
  font-size: 20px;
}
