.listado {
   display: flex;
   flex-direction: column;
   width: 450px;
   margin-top: 15px;
   padding: 15px;
   background-color: rgb(161, 161, 161);
}

.tlistado {
   padding: 10px;
}

li {
   list-style: none;
}